.search-container {
    padding-top: 20px;
    color: var(--secondary);
}

.search-btn {
    background-color: var(--primary) !important;
}

.search-btn:hover {
    background-color: var(--secondary) !important;
    color: var(--primary) !important;
}