:root {
	--primary: #1b263b;
	--secondary: #e0e1dd;
}

html {
  background-color: var(--primary);
}

.app-container {
  background-color: var(--primary);
  color: var(--secondary);
}

.App {
  text-align: center;
  background-color: var(--primary);
}

.row {
  justify-content: center;
  margin: 15px 0;
}